<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

        body{
            font-family: Hei;
            color: #333;
            padding: 20px;
            line-height: 30px;
        }
        @media (max-width: 600px) {
            body{
                padding: 0px !important;
            }
        }
        p{
            margin: 6px 0px;
            font-size: 21px;
        }
    </style>
</head>

<body>
<br/>
<h1 style="text-align:center;font-size: 29px;font-weight: bold;">工人进场承诺书</h1>
<br/>
<p style="padding-left: 52px;box-sizing: border-box">本人<span style="text-decoration: underline" >${empName}</span>（身份证号：<span style="text-decoration: underline" >${idCode}</span>）</p>
<p style="padding-left: 20px;box-sizing: border-box">是__<span style="text-decoration: underline">${constructionName}</span>__承建的__<span style="text-decoration: underline" >${projectName}</span>
    __项目__<span style="text-decoration: underline"></span>__<span style="text-decoration: underline" >${teamName}</span>__班组的工人。本人郑重承诺并保证做到以下几点：</p>
<p style="padding-left: 52px">一、知悉公司的各项规章制度、项目告示牌和权益维护牌上公示的各</p>
<p style="padding-left: 20px">项内容，自愿配合公司落实“项目实名制”各项作。</p>
<p style="padding-left: 52px">二、不隐瞒且如实提供个人的身份信息。</p>
<p style="padding-left: 52px">三、公司用于发放工资的银行卡由本人使用和保管，本人定期与班组</p>
<p style="padding-left: 20px">长核实确定工资款，不虚报出勤，不冒领工资，否则本人自愿</p>
<p style="padding-left: 52px">承担相应法律责任。</p>
<p style="padding-left: 52px">四、当自己合法权益受到侵害时（如劳资纠纷、工伤事故纠纷等），</p>
<p style="padding-left: 20px">向公司（项目部）申诉或向总包单位请求协调解决，在处理无效的情况</p>
<p style="padding-left: 20px">下，依法向有关部门举报投诉。自觉遵守法律法规，决不采取闹访、围</p>
<p style="padding-left: 20px">攻围堵公共设施等非法过激行为，决不恶意或过激讨薪，通过合法途径</p>
<p style="padding-left: 20px">理性反映诉求。如有无理或非法行为愿意承担一切法律责任。</p>
<br/>
<br/>
<table style="width: 500px;text-align: center;">
    <tr>
        <td style="text-align: right;font-size: 21px;">承诺人（签字并加按指印）：</td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td style="text-align: right;font-size: 21px;">____年____月____日</td>
    </tr>
</table>
</body>
</html>